body {
    background-image: url("../images/fondo.png") ;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1, h2 {
    text-align: center;
}

#products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#products-container div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    text-align: center;
}

#products-container h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

#products-container p {
    font-size: 1.1em;
    color: #666;
}

.productoAgregar {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.productoAgregar:hover {
    background-color: #0056b3;
}

#cart-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#cart-section div {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cart-section h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

#cart-section p {
    font-size: 1.1em;
    color: #666;
}

.total-container {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 30px;
    color: #222;
}

#borrar-carrito {
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#borrar-carrito:hover {
    background-color: #0056b3;
}